<div class="metric-bmi-calculator-component v-shadow-box">
  <form class="metric-bmi-calculator-form">

    <div>
      <mat-form-field class="full-width metric-bmi-calculator-form-age">
        <input matInput placeholder="Age:"/>
      </mat-form-field>
    </div>

    <mat-radio-group class="row">
      <mat-radio-button class="col" value="male">Male</mat-radio-button>
      <mat-radio-button class="col" value="female">Female</mat-radio-button>
    </mat-radio-group>

    <div>
      <mat-form-field class="full-width metric-bmi-calculator-form-height">
        <input matInput placeholder="Height:"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width metric-bmi-calculator-form-weight">
        <input matInput placeholder="Weight:"/>
      </mat-form-field>
    </div>

    <div class="full-width">
      <button mat-stroked-button color="primary" class="full-width metric-bmi-calculator-form-calculate">
        Calculate
      </button>
    </div>

  </form>
</div>
