<div class="metric-bmi-calculator-component">

  <div class="metric-bmi-calculator-form v-shadow-box">

    <div class="v-box-title">BMI Calculator</div>

    <form class="metric-bmi-calculator-form" [formGroup]="metricBmiForm">

      <div>
        <mat-form-field class="full-width">
          <input matInput formControlName="age" placeholder="Age:" />
          <mat-error *ngIf="metricBmiForm.get('age').errors">
            Please input a valid number!
          </mat-error>
        </mat-form-field>
      </div>

      <mat-radio-group class="row" formControlName="sex">
        <mat-radio-button class="col" value="male">Male</mat-radio-button>
        <mat-radio-button class="col" value="female">Female</mat-radio-button>
      </mat-radio-group>

      <div>
        <mat-form-field class="full-width">
          <span matSuffix class="v-mat-suffix">&nbsp; (cm)</span>
          <input matInput formControlName="height" placeholder="Height:" />
          <mat-error *ngIf="metricBmiForm.get('height').errors">
            Please input a valid number!
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <span matSuffix class="v-mat-suffix">&nbsp; (kg)</span>
          <input matInput formControlName="weight" placeholder="Weight:" />
          <mat-error *ngIf="metricBmiForm.get('weight').errors">
            Please input a valid number!
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-stroked-button color="primary" [disabled]="!metricBmiForm.valid" class="full-width" (click)="metricBmiCalculate()">
          Calculate
        </button>
      </div>

    </form>
  </div>

  <app-metric-bmi-result [bmi]="bmi"></app-metric-bmi-result>

</div>