/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: rgb(221, 221, 221);
    margin: 10px 15px;
}

.full-width {
    width: 100%;
}

.v-shadow-box {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(85, 85, 85) 0 0 8px 0;
    padding: 15px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    .v-box-title {
        background-color: rgba(0, 0, 0, .1);
        margin: -15px -15px 10px;
        padding: 8px 20px;
        font-size: 1.2em;
        text-align: center;
        color: rgba(0, 0, 0, .54);
    }
}

.hidden {
    display: none;
}
